@media only screen and (max-width: 940px){
  .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1.head-nav {
    font-family: 'Bungee Shade', cursive;
    font-size: 3rem;
    letter-spacing: 6px;
    margin: 0;
    color: #f2f3f4;
    /* transition: all 1s .5s ease-out; */
  }

  nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 70%;
    justify-items: center;
    margin-bottom: 0;
  }

  a.social-nav:nth-child(odd) {
    margin-right: 0;
 }

 a.social-nav:nth-child(even) {
    margin-right: 0;
  }

  a.social-nav {
    margin-bottom: 1em;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div#tool-icons {
    display: inline-block;
  }

  #tool-icons i[class^="fab"] {
    margin-bottom: 0;
  }

  .about-me {
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 75%;
  }

  .projects ul {
    margin: 2em 0;
  }

  .link-1 {
    margin-bottom: 3rem;
  }

  a[href="./form.html"] {
    margin: 2em 0;
  }

  .dev-icons {
    display: grid;
    width: 69%;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }

  .dev-icons > a {
    margin-bottom: 0;
  }

  .nav-footer {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    margin-top: 20px;
  }

  .footer-icon i {
    margin-right: 0;
  }

  a.footer-icon {
    text-decoration: none;
  }

  footer>h3 {
    margin: 40px 0;
  }
}
